<h1 mat-dialog-title>Mot de passe oublier</h1>
<p><i>Veuillez entrer votre adresse e-mail ou votre numéro de mobile pour rechercher votre compte.</i></p>
<div mat-dialog-content  >
  <div class="example-container">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Entrer votre email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="!email.invalid">{{getErrorEmailMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button class="btn btn-primary" [disabled]="email.invalid" (click)="sendEmail()">Envoyer</button>

</div>
