<mat-sidenav-container>
  <mat-sidenav-content class=" bg-light">
    <mat-toolbar>
      <p class="titre">
        PortalMedical
      </p>
      <span class="example-spacer"></span>
      <div class="col-2">
      </div>
      <a class="login" [routerLink]="['/login']">
        Connectez-vous
      </a>
    </mat-toolbar>
    <div>
      <div class="container min-vw-100 min-vh-100">
        <div class="row">
          <div class="col-6">
        <img src="assets/img/PortlMedical.png">
          </div>
          <div class="col-6 align-self-center">
        <p class="titre">
          <br>
          Bienvenue</p>
        <br>
        <button class="btn btn-lg btn-outline-light" style="margin-left: 50px" [routerLink]="['/demandeRDV']"> Demande de rendez-vous</button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
