  <div class="bg-light full-height h-100 mt-0">
    <div class="container  ">
      <div class="row justify-content-center">

        <div class="col-md-4 contents">
          <div class="row justify-content-center mt-0">
            <img src="../../assets/img/PortlMedical.png" alt="logo" class="img-fluid ">
            <div class="col-md-12 justify-content-center">
              <div class="mb-1 ">
                <h1 class="text-center" style="color: #1abc9c">S'identifier</h1>
              </div>
              <form [formGroup]="loginForm"  >
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Entrer votre email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Entrer votre mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"placeholder="password" [formControl]="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
                  </mat-form-field>
                </div>

                <div class="row justify-content-center">
                  <button class="btn btn-info"  [disabled]="!loginForm.valid" (click)="signIn()" > S'identifier </button>

                    <button class=" btn btn-danger text-center mt-2"(click)="openDialog()">Mot de Passe oublié </button>


                </div>

                <!--<div class="row ">
                  <span class="text-center mt-2" ><a class="password" (click)="openDialog()">Mot de Passe oublié ?</a></span>

                </div>-->

              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
