<app-navbar></app-navbar>
<div class="mt-3 mb-3 text-center" style="color: #1abc9c">
  <h1 class="font-weight-bold">Demande de rendez-vous en attentes</h1>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.idapt}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef> Patient </th>
      <td mat-cell *matCellDef="let element"> {{element.patientEmail}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="medecin">
      <th mat-header-cell *matHeaderCellDef> Medecin </th>
      <td mat-cell *matCellDef="let element"> {{element.user.nom}} {{element.user.prenom}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfApt | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="heure">
      <th mat-header-cell *matHeaderCellDef> Heure </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfApt|date:'HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element" >
        <button class="btn btn-info m-2" (click)="getbyid(element.idapt); displayBasic1=true"><i class="pi pi-check"></i></button>
        <button class="btn btn-danger" (click)="getbyid(element.idapt); displayBasic2=true"><i class="pi pi-times"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<p-dialog header="Annuler un rendez_vous" [(visible)]="displayBasic2" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p>Etes-vous sur d'annuler le rendez-vous</p>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="displayBasic2=false">NON</button>
    <button class="btn btn-success m-2 "  (click)="displayBasic2=false; annuler(rdv)">Oui</button>
  </div>
</p-dialog>

<p-dialog header="Confirmer un rendez_vous" [(visible)]="displayBasic1" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p>Etes-vous sur de confirmer le rendez-vous</p>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="displayBasic1=false">NON</button>
    <button class="btn btn-success m-2 "  (click)="displayBasic1=false; confirmer(rdv)">Oui</button>
  </div>
</p-dialog>
